language: erlang
otp_release:
  - 20.0

# MINIKUBE:
# - https://blog.travis-ci.com/2017-10-26-running-kubernetes-on-travis-ci-with-minikube
# - https://github.com/LiliC/travis-minikube

sudo: required

# This moves Kubernetes specific config files.
env:
  - CHANGE_MINIKUBE_NONE_USER=true

before_script:
  # Download kubectl, which is a requirement for using minikube.
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.8.0/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
  # Download minikube.
  - curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
  - sudo minikube start --vm-driver=none --kubernetes-version=v1.8.0
  # Fix the kubectl context, as it's often stale.
  - minikube update-context
  # Wait for Kubernetes to be up and ready.
  - JSONPATH='{range .items[*]}{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status};{end}{end}'; until kubectl get nodes -o jsonpath="$JSONPATH" 2>&1 | grep -q "Ready=True"; do sleep 1; done
  # proxy minikube
  - kubectl proxy 2>&1 > .proxy.logs &
  # get rebar3
  - wget https://s3.amazonaws.com/rebar3-nightly/rebar3
  - chmod +x rebar3

script:
  - kubectl cluster-info
  - make test
  - make xref
  - make dialyzer
  - make lint
  - rebar3 coveralls send

notifications:
  email: false
  slack: haslab:2lNTA7mqIcOfJ7fZpsMombyI
