{deps, [
    lager,
    kuberl,
    ranch,
    cowboy
]}.

{erl_opts, [
    debug_info, warnings_as_errors, warn_untyped_record,
    {parse_transform, lager_transform} %% lager
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

%% coveralls
{plugins, [coveralls]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, ["_build/test/cover/eunit.coverdata",
                       "_build/test/cover/ct.coverdata"]}.
{coveralls_service_name, "travis-ci"}.

{profiles, [
    {lint, [
        {plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "v0.1.9"}}}]}
    ]}
]}.

{relx, [{release, {tricks, "0.0.1"}, [tricks]},
        {extended_start_script, true},
        {dev_mode, false},
        {include_erts, false},
        {include_src, false},
        {overlay, [{copy, "bin/env", "bin"},
                   {copy, "config/vm.args", "releases/\{\{release_version\}\}/vm.args"}]}]}.
